
body {
	background: url("https://i.imgur.com/lynrHA7.png") center repeat;
}

.selected, .selected:hover {
	color: #bce8a9;
}

hr {
	background-image: linear-gradient(to right, #8d9b87, #40473e, #8d9b87);
}

#Copenhagen { background: url("https://i.imgur.com/pXldQA0.png") center no-repeat; background-size: cover; }
#Berlin { background: url("https://i.imgur.com/oox5yrx.png") center no-repeat; background-size: cover; }
#Prague { background: url("https://i.imgur.com/Uz7Qq2F.png") center no-repeat; background-size: cover; }
#Budapest { background: url("https://i.imgur.com/3s9vJph.png") center no-repeat; background-size: cover; }
#Munich { background: url("https://i.imgur.com/zJjajgw.png") center no-repeat; background-size: cover; }
#Zurich { background: url("https://i.imgur.com/Hws2bV5.png") center no-repeat; background-size: cover; }
#Amsterdam { background: url("https://i.imgur.com/pLoAwR3.png") center no-repeat; background-size: cover; }
#Brussels { background: url("https://i.imgur.com/6KbmJKU.png") center no-repeat; background-size: cover; }
#Cancun { background: url("https://i.imgur.com/e3slqym.png") center no-repeat; background-size: cover; }
#Boston { background: url("https://i.imgur.com/N9LkzOc.png") center no-repeat; background-size: cover; }
#HongKong { background: url("https://i.imgur.com/xt3UVnw.png") center no-repeat; background-size: cover; }
#Aruba { background: url("https://i.imgur.com/erKOnbe.png") center no-repeat; background-size: cover; }
#NewOrleans { background: url("https://i.imgur.com/oaXm1ij.png") center no-repeat; background-size: cover; }



#c1-Aruba, #c3-Aruba {
	float: left;
	width: 30%;
}

#c2-Aruba {
	margin-left: 2%;
	margin-right: 2%;
	width: 36%;
}