/* fonts */
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

body {
	background: url("https://i.imgur.com/JDCBWx0.jpg") center no-repeat fixed;
	background-size: cover;
	font-family: 'Lato', 'Muli', 'Pontano Sans';
}

.container {
	position: fixed;
	bottom: 50px;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	display: flex;
}

.item {
	text-align: center;
	border: solid white 2px;
	height: 59px;

}

#password {
	width: 250px;
	float: left;
}

#button {
	width: 150px;
	margin-left: 25px;
  transition: background-color .5s;
}

button {
	background: none;
	border: none;
	font-weight: normal;
	color: #FFF;
	font-size: 32px;
	margin: 8px;
	font-family: 'Lato', 'Muli', 'Pontano Sans';
}

input {
	background: none;
	border: none;
	color: #FFF;
	font-size: 32px;
	margin: 10px;
	width: 230px;
}

input::-webkit-input-placeholder {
	font-style: italic;
	font-family: 'Lato', 'Muli', 'Pontano Sans';

}

*:focus {
    outline: none;
}

#button:hover {
    background-color: #444;
}






.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
